<!DOCTYPE html>
<html lang="en">

<head th:replace="head :: #head"/>

<body role="document" style="background-color: #eee;">

<div th:replace="navbar :: #navbar" />

<div class="container">
    <form class="form-signin" role="form" method="post"  th:action="@{/auth/signin}">

        <div class="alert alert-info alert-dismissable" th:if="${loginRequired}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p th:text="${loginRequired}">
                Some error message
            </p>
        </div>

        <div class="alert alert-warning alert-dismissable" th:if="${loginError} or ${emailFieldError} or ${passwordFieldError}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p th:if="${loginError}" th:text="${loginError}">
                Some error message
            </p>
            <p th:if="${emailFieldError}" th:text="${emailFieldError}">
                Some error message
            </p>
            <p th:if="${passwordFieldError}" th:text="${passwordFieldError}">
                Some error message
            </p>
        </div>

        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="redirecturl" type="hidden" th:if="${param.redirecturl}" th:value="${param.redirecturl[0]}" />
        <input name="email" type="email" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" />
        <input name="password" type="password" class="form-control" placeholder="Password" required="required" autofocus="autofocus" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}" />
<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" />

</body>

</html>