<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">
            5I1ZzL2v</property>
        <property name="hibernate.connection.url">
            jdbc:oracle:thin:@big-data-3.logti.etsmtl.ca:1521:LOG660</property>
        <property name="hibernate.connection.username">
            equipe4</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.default_schema">
            EQUIPE4</property>
        <property name="hibernate.transaction.auto_close_session">
            false</property>

        <mapping resource="mapping/Adresse.hbm.xml"/>
        <mapping resource="mapping/CarteCredit.hbm.xml"/>
        <mapping resource="mapping/Copie.hbm.xml"/>
        <mapping resource="mapping/Film.hbm.xml"/>
        <mapping resource="mapping/Forfait.hbm.xml"/>
        <mapping resource="mapping/Genre.hbm.xml"/>
        <mapping resource="mapping/Location.hbm.xml"/>
        <mapping resource="mapping/Pays.hbm.xml"/>
        <mapping resource="mapping/Personne.hbm.xml"/>
        <mapping resource="mapping/Role.hbm.xml"/>
        <mapping resource="mapping/Utilisateur.hbm.xml"/>
    </session-factory>
</hibernate-configuration>